---
import BasicLayout from "../layout/BasicLayout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<BasicLayout >
		<h1 class="text-4xl font-bold text-red-500">Astro</h1>
		<a href="https://loukkka.github.io/AppiAir/" class="text-blue-700 underline">Hello world!</a>
		</BasicLayout>
	</body>
</html>
